/* 
.topDiv {
    width: 300px;
    border-radius: 10px;
    background-color: darkslateblue;
    display: flex;
    flex-wrap: wrap;
} */

.topDiv {
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    background-color:darkslategray;
}

.titleDiv {
    color: white;
}

.image {
    height: 250px;
    width: 400px;
}

.fcLike {
    width: 30px;
    height: 30px;
    background-color: white;
    place-items: center;
}

.fcLikeButton:hover {
    background-color: crimson;
    cursor: pointer;
}

.title {
    font-weight: bold;
}