.highLevelDiv {
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.buttonId {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 30px;
    min-width: 60px;
    font-size: medium;
}

.buttonId:hover {
    background-color: darkgray;
}